.module {
  padding-bottom: 6rem;
  .articles-wrapper {
    width: 100%;
    position: relative;
    .article {
      display: inline-block;
      vertical-align: top;
      .article-item {
        padding: 1rem 0.65rem 2.1rem 0.65rem;
        img {
          width: 100%;
        }
        .title {
          h2,
          h3 {
            font-weight: 400;
            letter-spacing: 0.05rem;
            line-height: 1.25;
          }
        }

        .date {
          //   line-height: 12px;
          margin-top: -0.25rem;
          span {
            color: #999999;
            font-size: 11px;
          }
        }

        .tags {
          .tag-list {
            padding: 0;
            li {
              display: inline-block;
              margin-right: 4px;
              a {
                background: pink;
                padding: 8px;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 11px;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
